<nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">  
  <a class="navbar-brand">
    <img src="http://athmin.in/images/logo.png" width="200" height="70" class="d-inline-block align-top"
      alt="">
  </a>
  <button class="navbar-toggler order-first" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/">Home
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/faq">FAQ</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " routerLink="/investments" *ngIf="uname">Investments</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/openbid">Openbid</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/vision">Vision</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/login" *ngIf="!uname">Login</a>
        <a class="nav-link"  style="cursor:pointer;" *ngIf="uname" (click)="logout()">Logout</a>

      </li>
      <li class="nav-item">
        <a class="nav-link disabled" routerLink="/signup" *ngIf="!uname">Signup</a>
      </li>

    </ul>
    <div class=" my-2 my-lg-0" *ngIf="uname">
      <p> hello {{uname}}</p>
    </div>
  </div>
</nav>